
*{
    margin: 0;
    padding: 0;
}

.container{
    background: linear-gradient(to right bottom, #29231c, #e29f60);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.app-wrapper{
    background-color: #0a0e28;
    min-width: 450px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 4opx #b1aaaa;
    margin-bottom: 10px;
}

.header h1{
    color: #fffcfc;
    text-align: center;
    margin: 30px 0;
}

.task-input{
    outline: none;
    width: 260px;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: #f4eeee;
    background-color: #000000;
    border: 1px solid #b78486;
    border-radius: 10px;
}

.button-add{
    width: 70px;
    padding: 15px 15px;
    font-size: 20px;
    border: 1px solid #e7dbdc;
    border-radius: 10px;
    background-color: #2d0c0f;
    color: #f4eeee;
    cursor: pointer;
}
.button-add:hover{
    border: 1px solid #e5f052;
    border-radius: 10px;
    background-color: #0a2e34;
    color: #dbea57;
    cursor: pointer;
}

.list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 20rem;
    max-height: 3rem;
}

/* .button-complete {
    color: #ff6c6c;
    margin-right: 10px;
} */

.button-edit{
    color: #e2d029;
    margin-right: 10px;
}

.button-delete{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    width: 5rem;
    height: 2rem;
    color: rgb(255, 255, 255);
    background-color: #f60000;
}

.complete {
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color: #ff6c6c;
    opacity: 0.6;
}

.list{
    width: 10rem;
    background-color: transparent;
    border: none;
    color: #fdfdfd;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
}

input:focus,
button:focus{
    outline: none;
}